* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #fee9e9, #ebf8e1, #c4c9ff);
}
.wrapper p {
  position: absolute;
  top: 5%;
  left: 20px;
  z-index: 999;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 10px#c4c9ff, 3px 3px 10px #242130, -3px -3px 15px #3f3094;
}

/* ---------titles---------------- */

.title {
  z-index: 999;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 3px 3px 10px#c4c9ff, 3px 3px 10px #242130, -3px -3px 15px #3f3094;
}
.title1 {
  position: absolute;
  top: 60%;
  left: 10%;
}
.title2 {
  position: absolute;
  top: 70%;
  left: 20%;
}
.title3 {
  position: absolute;
  top: 80%;
  left: 30%;
}

/* ---------links---------------- */

.link {
  z-index: 999;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 3px 3px 10px #000, -3px -3px 15px #000;
}
.link1 {
  position: absolute;
  top: 20%;
  left: 20px;
}
.link2 {
  position: absolute;
  top: 30%;
  left: 20px;
}
.link3 {
  position: absolute;
  top: 40%;
  left: 20px;
}

.link a {
  color: white;
  text-decoration: none;
}
.link a:hover {
  color: #c4c9ff;
  text-shadow: 5px 5px 10px #001a5b, -5px -5px 15px #001a5b;
}

/* ---------waves---------------- */

.waves {
  opacity: 0.5;
}
.waves {
  transform: rotate(180deg);
}
.waves svg {
  fill: #0099ff;
}

/* ---------blue---------------- */

.custom-shape-divider-top-1720986034 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 11;
}

.custom-shape-divider-top-1720986034 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 181px;
}

.custom-shape-divider-top-1720986034 .shape-fill {
  fill: #b6c5e9;
}
/* ---------green---------------- */

.custom-shape-divider-top-1720986341 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-top-1720986341 svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1720986341 .shape-fill {
  fill: #b2ebd5;
}
/* ---------purple--top-------------- */
.custom-shape-divider-top-1720988278 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
}

.custom-shape-divider-top-1720988278 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1720988278 .shape-fill {
  fill: #dbb2eb;
}

/* ---------pink--bottom-------------- */

.custom-shape-divider-bottom-1720988444 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720988444 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720988444 .shape-fill {
  fill: #ff9ae5;
}

/* ---------aqua--bottom-------------- */

.custom-shape-divider-bottom-1720990970 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1720990970 svg {
  position: relative;
  display: block;
  width: calc(214% + 1.3px);
  height: 230px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720990970 .shape-fill {
  fill: #50e2e380;
}

.photo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.blob1 {
  position: absolute;
  top: 170px;
  left: 500px;
  z-index: 100;
  width: 600px;
}
.blob1 svg {
  fill: rgba(251, 115, 169, 0.25);
}
.blob2 {
  position: absolute;
  top: 170px;
  left: 400px;
  z-index: 100;
  width: 500px;
}
.blob2 svg {
  fill: rgba(219, 115, 251, 0.25);
}
